<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= title %></title>
  <style>
    div {
      color: green;
      font-size: 1.5rem;
      font-weight: 600;
    }
  </style>
</head>
<body>
  <div>
    Page01
  </div>
</body>
</html>